:root{
    --main-color: #24053E;
    --green: #44FFA1;
    --light-purple: #584D62;
    --pearl: #FCF8FF;
    --white: #ffffff;
}


@font-face {
    font-family: "manrope";
    src: url(../assets/fonts/manrope/static/Manrope-Regular.ttf);

    font-family: "fraunces";
    src: url(../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON SETUP */


a{
    font-family: "manrope";
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-decoration: none;
    color: var(--white);
}

h1{
    font-family: "fraunces";
    font-size: 80px;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    font-weight: 600;
}


/* HEADER CONTAINER */

.header{
    position: relative;
    width: 100%;
    height: 730px;
    padding: 57px 170px;
    background-color: var(--main-color);
    background-image: url(../assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: 104% 80%;

}

.icon__pattern-one{
    display: block;
    position: absolute;
}

.icon__pattern-one{
    top: 100px;
    left: -160px;
}

.icon__pattern-two{
    display: none;
    bottom: 100px;
    right: -90px;
}

.container__radius{
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__link:hover{
    color: var(--green);
}

.elem--underline{
    line-height: 32px;
    text-decoration: underline 3px #44FFA1;
    border-radius: 2px;
    text-underline-offset: 10px;
}

.title__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 63px;
}

.button{
    width: 161px;
    height: 61px;
    font-family: 'manrope';
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    border: none;
    background-color: var(--green);
    margin-top: 50px;
    color: var(--main-color);
    
}

.button-state-hover:hover{
    border: 2px solid var(--green);
    color: var(--white);
    background-color: var(--main-color);
}

.phone__container{
    margin-top: 50px;
    width: 715px;
    height: 427px;
}

.phone__image{
    width: 730px;
}

/* BODY CONTAINER */

.container__main{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 750px;
    background: var(--pearl);
    padding: 0 320px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px;
}

.card__number-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border: 1px solid var(--light-purple);
    border-radius: 50%;
    margin-bottom: 30px;
}

.card__number{
    font-family: 'fraunces';
    font-size: 24px;
    font-weight: 600;
}

.card__title {
    font-size: 32px;
    font-family: 'fraunces';
    text-align: center;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 30px;
}

.card__desc{
    font-size: 18px;
    font-family: 'manrope';
    line-height: 32px;
    text-align: center;
    color: var(--light-purple);
}

/* END TABLE */


/* GRAHAM SECTION */
.graham__container{
    position: relative;
    display: grid;
    place-content: center;
    width: 100%;
    height: 900px;
    background-color: var(--white);
}

.graham__box-img{
    position: absolute;
    width: 477px;
    left: 180px;
    bottom: 350px;
    
}

.graham__box-img img{
    width: 100%;
    z-index: -15;
}

.btn__green{
    width: 190px;
}

.btn__green:hover{
    border: 2px solid var(--green);
    background-color: var(--main-color);
    color: var(--green);
}

.card__container{
    width: 713px;
    height: 413px;
    background: var(--main-color);
    padding: 50px;
    z-index: 12;
}

.card__title-hero{
    color: var(--white);
    text-align: left;
    font-size: 56px;
}

.graham__desc{
    font-family: 'fraunces';
    color: var(--white);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.icon__pattern-three{
    position: absolute;
    right: 33%;
    z-index: 23;
    top: 56.4%;
}

/* GRAHAM SECTION END */

/* FOOTER */

.footer{
    position: relative;
    display: grid;
    justify-content: center;
    width: 100%;
    height: 140px;
}


.social__icon{
    text-align: center;
    margin-bottom: 40px;
}

.icon__social{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon__social img{
    margin: 0 15px;
}

/* FOOTER END */